redshift
i3-wm
i3status
i3lock
dmenu
feh
scrot
notify-osd
fzf
the_silver_searcher #ag
neovim
python2-neovim
python-neovim
rxvt-unicode
ack
w3m
ranger
xorg-server
xorg-server-utils
xorg-xinit

# fonts
ttf-dejavu
ttf-droid
ttf-croscore



# optional
python2-virtualenv
python-virtualenvwrapper
xscreensaver

# aur
dropbox
xss-lock-git
redshift-scheduler
light-git
dragon-drag-and-drop-git
