redshift
i3-wm
i3status
i3lock
xscreensaver
dmenu
python2-virtualenv
python-virtualenvwrapper
feh
scrot
notify-osd
zfz
the_silver_searcher #ag

# aur
dropbox
xss-lock-git
ttf-dejavu-sans-mono-powerline-git
redshift-scheduler
light-git
