[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=ma
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/ma/.bin/lock_and_blur.sh

[Install]
WantedBy=sleep.target
